@model GestaoTarefasIPG.Models.Funcionario

@{
    ViewData["Title"] = "Details";
}
<style>
    .button{
        color:white;
        background-color:#db1033;
        border:2px solid #db1033;
        border-radius: 8px;
        padding: 3px 10px;
    }

    .button:hover{
        color:#db1033;
        background-color:white;
        border:2px solid #db1033;
        border-radius: 8px;
        padding: 3px 10px;
    }
    .headColumns{
        color: #db1033;
    }
    .backLink{
        color:#db1033;
    }
    .backLink:hover{
        text-decoration: underline;
        color:#db1033;
    }
</style>


<h1 class="headColumns">Details</h1>

<div>
    <h4 class="headColumns">Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTelemovel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroTelemovel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FuncionarioId" class="button" >Edit</a>
    <a asp-action="Index" class="backLink">Back to List</a>
</div>
