@model IEnumerable<GestaoTarefasIPG.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}
<style>
    .thead {
        background-color: white;
    }
    .headColumns{
        color: #db1033;
    }

    .button{
        color:white;
        background-color:#db1033;
        border:2px solid #db1033;
        border-radius: 8px;
        padding: 3px 10px;
    }

    .button:hover{
        color:#db1033;
        background-color:white;
        border:2px solid #db1033;
        border-radius: 8px;
        padding: 3px 10px;
    }
    .title{
        color:#db1033;
    }
    .createLink{
        color:#db1033;
    }
    .createLink:hover{
        text-decoration: underline;
        color:#db1033;
    }

</style>
<h1 class="title">Employees</h1>

<p>
    <a class="createLink" asp-action="Create">Create New</a>
</p>
<table class="table table-striped" align="center">
    <thead class="thead">
        <tr>
            <th class="headColumns">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="headColumns">
                @Html.DisplayNameFor(model => model.NumeroTelemovel)
            </th>
            <th class="headColumns">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroTelemovel)
            </td>
            <td>
                <p>@Html.DisplayFor(modelItem => item.Email)</p>
            </td>
            <td>
                <a class="button" asp-action="Edit" asp-route-id="@item.FuncionarioId">Edit</a>
                <a class="button" asp-action="Details" asp-route-id="@item.FuncionarioId">Details</a>
                <a class="button" asp-action="Delete" asp-route-id="@item.FuncionarioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
