@model FuncionariosViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="title">Lista de funcionários</h1>

@using (Html.BeginForm())
{
<p>
    <b>Procurar por:</b>
    @Html.RadioButton("searchBy", "Name") Nome
    @Html.RadioButton("searchBy", "Number") Número
</p>
<p>
    <div id="btnGroup">
        <input type="text" name="searchString" value="@Model.StringProcura" placeholder="Procurar" />
        <button type="submit" class="btn btn-outline-info" asp-action="Index" asp-route-page="1" asp-route-searchBy="searchBy" asp-route-searchString="@Model.StringProcura">Procurar</button>
        <a asp-action="Index" class="btn btn-outline-secondary">Lista inteira</a>
    </div>
    
</p>
}

<p>
    <a asp-action="Create" class="btn btn-primary">Novo funcionário</a>
</p>

<script>

    function sort() {
        let sort = @Model.Sort;
        let stringProcura = '@Model.StringProcura';

        var result = "true".localeCompare(sort);

        if (result == 0) {
            sort = "false";
        } else {
            sort = "true";
        }

        const url = 'https://' + window.location.host + '/Funcionarios?page=1&sort=' + sort + '&searchString=' + stringProcura;

        window.location.replace(url);
    }

</script>

<table class="table table-striped" align="center">
    <thead>
        <tr>
            <th>
                <a onclick="sort()">Nome</a>
            </th>
            <th>
                Contacto
            </th>
            <th>
                Número de funcionário
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Funcionarios.Count() == 0) {
            <tr>
                <td colspan="4">Não foram encontrados resultados para a sua procura.</td>
            </tr>
        } else {
            foreach (var item in Model.Funcionarios) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contacto)
                </td>
                <td>
                    <p>@Html.DisplayFor(modelItem => item.NumeroFuncionario)</p>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FuncionarioId">Editar</a>|
                    <a asp-action="Details" asp-route-id="@item.FuncionarioId">Detalhes</a>|
                    <a asp-action="Delete" asp-route-id="@item.FuncionarioId">Remover</a>
                </td>
            </tr>
            }
        }
    </tbody>
</table>

@for (int i = 1; i <= Model.TotalPaginas; i++) {

    @if (i == Model.PaginaAtual) {

        <a href="#" class="btn btn-outline-primary">@i</a>

    } else {

        <a asp-action="Index" asp-route-page="@i"  asp-route-searchString="@Model.StringProcura" asp-route-searchBy="@Model.SearchBy" asp-route-sort="@Model.Sort" class="btn btn-outline-info">@i</a>
    }
}
