@model FuncionariosViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="title">Lista de funcionários</h1>

<p>
    <a asp-action="Create">Adicionar novo funcionário</a>
</p>
<table class="table" align="center">
    <thead>
        <tr>
            <th>
                Nome:
            </th>
            <th>
                Contacto:
            </th>
            <th>
                Email:
            </th>
            <th>
                Número de funcionário:
            </th>
            <th>
                Ações:
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Funcionarios) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                <p>@Html.DisplayFor(modelItem => item.Email)</p>
            </td>
            <td>
                <p>@Html.DisplayFor(modelItem => item.NumeroFuncionario)</p>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FuncionarioId">Editar</a>|
                <a asp-action="Details" asp-route-id="@item.FuncionarioId">Detalhes</a>|
                <a asp-action="Delete" asp-route-id="@item.FuncionarioId">Remover</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@for (int i = 1; i <= Model.TotalPaginas; i++) {

    @if (i == Model.PaginaAtual) {

        <a href="#" class="btn btn-outline-primary">@i</a>

    } else {

        <a asp-action="Index" asp-route-page="@i" class="btn btn-outline-info">@i</a>
    }
}
