@model IEnumerable<GestaoTarefasIPG.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}
    <style>

        thead {
            background-color: #db1033;
            color: white;
        }

        tbody {
            background-color: lightgray;
        }
    </style>
<h1 class="title">Lista de funcionários</h1>

<p>
    <a asp-action="Create">Adicionar novo funcionário</a>
</p>
<table class="table" align="center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroTelemovel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroTelemovel)
            </td>
            <td>
                <p>@Html.DisplayFor(modelItem => item.Email)</p>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FuncionarioId">Editar</a>|
                <a asp-action="Details" asp-route-id="@item.FuncionarioId">Detalhes</a>|
                <a asp-action="Delete" asp-route-id="@item.FuncionarioId">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
