@model ProfessoresViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de professores</h1>

<p>
    <a asp-action="Create">Adicionar um novo professor</a>
</p>

@using (Html.BeginForm())
{
    <p>
        Nome: <input type="text" name="searchString" value="@Model.StringProcura" placeholder="Procurar por nome" />
        <button type="submit" class="btn btn-light" asp-action="Index" asp-route-page="1" asp-route-searchString="@Model.StringProcura" >Procurar</button>
        <a asp-action="Index" class="btn btn-info">Lista inteira</a>
    </p>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Nome:
            </th>
            <th>
                Numero de telemóvel:
            </th>
            <th>
                Email:
            </th>
            <th>
                Gabinete:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Professores)
        {
            <tr>
                <td>
                    @p.Nome
                </td>
                <td>
                    @p.NumeroTelemovel
                </td>
                <td>
                    @p.Email
                </td>
                <td>
                    @p.Gabinete
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@p.ProfessorId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@p.ProfessorId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@p.ProfessorId">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.TotalPaginas > 1) {
    for (int i = 1; i <= Model.TotalPaginas; i++)
    {
        @if (i == Model.PaginaAtual)
        {
            <a href="#" class="btn btn-outline-primary">@i</a>
        }
        else
        {
            <a asp-action="Index" asp-route-page="@i" asp-route-searchString="@Model.StringProcura" class="btn btn-outline-info">@i</a>
        }
    }
}