@model ProfessoresViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de professores</h1>

@*form para fazer um procura*@
@using (Html.BeginForm())
{
    <p>
        <div class="dropdown">
            <button class="dropbtn">@Model.ProcuraPor</button>
            <div class="dropdown-content">
                @if (Model.ProcuraPor.Equals("Nome"))
                {
                    <a asp-action="Index" asp-route-ProcuraPor="Gabinete">gabinete</a>
                    <a asp-action="Index" asp-route-ProcuraPor="Numero">Numero</a>
                }
                else if (Model.ProcuraPor.Equals("Gabinete"))
                {
                    <a asp-action="Index" asp-route-ProcuraPor="Nome">Nome</a>
                    <a asp-action="Index" asp-route-ProcuraPor="Numero">Numero</a>
                }
                else if (Model.ProcuraPor.Equals("Numero"))
                {
                    <a asp-action="Index" asp-route-ProcuraPor="Nome">Nome</a>
                    <a asp-action="Index" asp-route-ProcuraPor="Gabinete">gabinete</a>
                }
            </div>
        </div> <input type="text" name="searchString" value="@Model.StringProcura" placeholder="Procurar por @Model.ProcuraPor" />
        <button type="submit" class="btn btn-outline-info" asp-action="Index" asp-route-page="1" asp-route-searchString="@Model.StringProcura" asp-route-ProcuraPor="@Model.ProcuraPor">Procurar</button>
        <a asp-action="Index" class="btn btn-outline-secondary">Lista inteira</a>
    </p>
}

@*link para criar um novo funcionário*@
<p>
    <a asp-action="Create" class="btn btn-primary">Novo professor</a>
</p>

@*Script de JavaScript*@
<script>

    //função para fazer o sort
    function sort() {
        let sort = '@Model.Sort'; //um string true ou false
        let stringProcura = '@Model.StringProcura'; //o string de procura

        var result = "true".localeCompare(sort); //comparar a variavel sort com o string true se for igual da 0

        //"inverter" o valor do string sort
        if (result == 0) {
            sort = "false";
        } else {
            sort = "true";
        }

        //guardar a nova rota com o sort e o string de procura
        const url = 'https://' + window.location.host + '/Professores?page=1&sort=' + sort + '&searchString=' + stringProcura;

        //ir para o url
        window.location.replace(url);
    }

</script>

<style>

    .dropbtn {
        background-color: #db1033;
        color: white;
        padding: 8px;
        font-size: 12px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 6px 8px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: gray;
    }

    .orderLink {
        color: white;
    }

        .orderLink:hover {
            text-decoration: underline;
            color: white;
        }
</style>

@*construção da tabela*@
<table class="table table-striped">
    @*Cabeçalho da tabela*@
    <thead>
        <tr>
            <th onclick="sort()" class="orderLink">
                <a>Nome</a>
            </th>
            <th>
                Gabinete
            </th>
            <th>
                Numero de funcionário
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.Professores)
        {
            <tr>
                <td>
                    @p.Nome
                </td>
                <td>
                    @p.Gabinete
                </td>
                <td>
                    @p.NumFuncionario
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@p.ProfessorId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@p.ProfessorId">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@p.ProfessorId">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.TotalPaginas > 1)
{
    for (int i = 1; i <= Model.TotalPaginas; i++)
    {
        @if (i == Model.PaginaAtual)
        {
            <a href="#" class="btn btn-outline-primary">@i</a>
        }
        else
        {
            <a asp-action="Index" asp-route-page="@i" asp-route-searchString="@Model.StringProcura" asp-route-sort="@Model.Sort" asp-route-ProcuraPor="@Model.ProcuraPor" class="btn btn-outline-info">@i</a>
        }
    }
}